<div class="recipes">
  <div class="one-box">
    <p class="box-title">About</p>
    <h3>〜理想の体を追い求める人のためのサイト〜</h3>
    <div class="text-contents">
    <p>
      当サイトはPFC管理法を用いて、体重コントロールを目指す方々に向けて作りました。
      <br>
      <br>
      自身の基礎代謝や、痩せるための目標カロリー等の計算を自動で行います。
      <br>
      また、日々のわずらわしいカロリーチェックも、
      <br>
      食べた料理や食材を入力するだけでおしまい。
    </p>
    </div>
  </div>
</div>